body {

    background-image: repeating-linear-gradient(0deg, rgba(223, 35, 22, 0.256) 0px,
        rgba(223, 34, 22, 0.39) 55px, transparent 55px, transparent 110px),
        repeating-linear-gradient(90deg, rgba(223, 34, 22, 0.39) 0px, 
        rgba(223, 34, 22, 0.39) 55px, transparent 55px, transparent 110px),
        linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Norican', cursive;
    font-size: 1.5rem;
    min-height: 100vh;
  
}

body p {
    font-family: 'Athiti', sans-serif;
    font-size: 1.2rem;
}


section {
    width: 1200px;
    background-color: rgba(255, 255, 255, 1);
    flex: 1;
}


article {
    margin: 30px 50px;

}

#main-img {
    max-width: 1200px;

}

#redirection-cases {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px 10px 0 10px;
    padding: 50px;
}

#redirection-cases a {
    color: rgba(224, 76, 72, 1);
    text-decoration: none;
    font-size: 1.8rem;
    text-align: center;
    padding: 30px 30px;
    border: rgba(224, 76, 72, 1) 3px solid;
    margin: 30px;
}

#redirection-cases a:hover {
    color: black;
    text-shadow: white 2px 2px 3px;
    border: black 3px solid;

}

#redirection-presentation a:hover {
    background-image: url(../images/presentation2-unsplash.jpg);

}

#redirection-menu a:hover {
    background-image: url(../images/menu2-unsplash.jpg);
}

#redirection-contact a:hover {
    background-image: url(../images/contact2-unsplash.jpg);
}

#lieux {
    text-align: center;
    padding: 20px 0 20px;
}

/* PRESENTATION SECTION */

#presentation-section {
    display: flex;
    flex-direction: row;

}

#presentation-img {
    width: 350px;

}



/*MENU SECTION*/
#formules-section {
    display: flex;
    flex-direction: row;

}

#formules-section p {
    font-size: 1rem;
}

#menus-img {
    width: 350px;


}

.article-menu {
    font-size: 1.2rem;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-menu p,
h2 {
    margin: 0;
}

.formules img {
    height: 150px;
    border-radius: 20px 0 0 20px;
}

.formules {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(198, 96, 84, 0.3);
    border-radius: 20px;
    box-shadow: 3px 3px 3px black;
    height: 150px;
    margin: 20px 0;
}

.formules div {
    padding: 0 20px;
}

.menu {
    text-align: center;
}

.prix {
    font-family: 'Athiti', sans-serif;
    font-size: 1rem;
    text-align: end;
}

.menu-seuls {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: 30px 20px;
}

.carte-prix {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

/* CONTACT SECTION */

#contact-section {
    display: flex;
    flex-direction: row;
}

#contact-section h2 {
    padding-top: 10px;
}

#contact-img {
    width: 350px;
}

label {
    display: inline-block;
    width: 200px;
    font-family: 'Athiti', sans-serif;
}

input {
    width: 200px;
}

form {
    width: max-content;
    margin: 20px;
}

input:hover {
    background-color: rgba(198, 96, 84, 0.3);
}

textarea:hover {
    background-color: rgba(198, 96, 84, 0.3);
}